@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
    opacity: 0.8;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}


button:active {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.8);
}


/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #FCFCFC;
}


.conatiner-all {
    display: flex;
    gap: 40px;
    justify-content: end;
    padding-left: 311px;
}

.container {
    flex: 1;
    max-width: 1350px;
    padding: 20px;
    /* margin: 0 auto; */
}
.all {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}
.all-item {
    border-radius: 30px;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
    /* min-width: 1350px; */
    max-width: 1750px;
    width: 100%;
    /* max-width: auto; */
}
.all-item-comleks-all-hidden {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.all-item-table-top {
    display: flex;
    gap: 20px;
    align-items: center;
}
.all-item-table-bot {
    display: flex;
    gap: 10px;
}
.all-item-table-bot-btn-one {
    border-radius: 8px;
    background: #667695;
    padding: 5px 16px 5px 16px;
    color: #FFF;
    height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.all-item-table-bot-btn-two {
    border-radius: 8px;
    background: #14C67C;
    padding: 5px 16px 5px 16px;
    color: #FFF;
    height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items:center ;

}
.all-item-table-bot-btn-three {
    border-radius: 8px;
    background: #EF5350;
    padding: 5px 16px 5px 16px;
    color: #FFF;
    height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items:center ;
}
.span-vb {
    display: block;
    color:  #252733;
    padding: 4px 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #F2F4F9;   
    padding-right: 26px; 
    position: relative;
}
.span-vb::after {
      content: '';
      position: absolute;
      left: 77px;
      top: 8px;
      width: 10px;
      height: 10px;
      cursor: pointer;
      background-image: url(./img/Frame\ 1.svg);
      background-repeat: no-repeat;
}
.btn-none {
    display: none;
}
.span-all-hidden {
    color:  #252733;
    padding: 4px 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #F2F4F9;
    margin-left: -10px;
}
.span-all-hidden-hid {
    display: none;  
}
/* @media (max-width:1700px) {
    .all-item {
        border-radius: 30px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        min-width: 1200px;
        max-width: auto;
    }
    
}
@media (max-width:1567px) {
    .all-item {
        border-radius: 30px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        min-width: 1000px;
        max-width: auto;
    }
    
}
@media (max-width:1372px) {
    .all-item {
        border-radius: 30px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        min-width: 960px;
        max-width: auto;
    }
    
}
@media (max-width:1335px) {
    .all-item {
        border-radius: 30px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        min-width: 900px;
        max-width: auto;
    }
    
}
@media (max-width:1280px) {
    .all-item {
        min-width: 850px;

    }
    
}
@media (max-width:1230px) {
    .all-item {
        min-width: 800px;
    }
    
}
@media (max-width:1176px) {
    .all-item {
        min-width: 750px;
    }
    
}
@media (max-width:1123px) {
    .all-item {
        min-width: 700px;
    }
    
}
@media (max-width:1078px) {
    .all-item {
        min-width: 650px;
    }
    
}
@media (max-width:1043px) {
    .all-item {
        min-width: 600px;
    }
    
} */



.menu {
    padding-top: 12px;
    display: flex;
    max-height: 99vh;
    position: fixed;
}
.menu-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-left-list {
    padding: 18px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.menu-left-bot {
    padding: 20px;

}
.menu-mid {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items:left ;

}
.menu-left-item {
    display: flex;
    gap: 16px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}
.menu-left-item-title {
    color: #202125;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.menu-rigth {
    width: 60px;
    height: 97vh;
    margin-left: 80px;
    border-radius: 30px;
    border: 1px solid #FFF;
    display: flex;
    flex-direction: column;
    padding: 22px 9px 0;
    background: #202125;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.20);
}
.menu_text-none:hover {
    opacity: 0.8;
}
.CdPlace {
    color: #202125;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.cp {
    border-radius: 8px;
    background: #07F;
    padding: 7px 6px;
    box-shadow: 0px 0px 8px 0px rgba(0, 119, 255, 0.25);
    display: flex;
    align-items: center;
}
.dash  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px;
    border-radius: 8px;
    background: #FFF;
    
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}
.dash--active {
    border-radius: 8px;
    background: #202125;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    
}
.inputTextCont {
   display: none;
   max-width: 140px;
}

.inputTextCont2 {
   display: none;
   width: 124px;
   /* padding: 3px;
   padding-left: 10px; */

}
.inputTextCont2:hover {
    /* background-color: #F9F8FD;
    border-radius: 6px; */
}
.vector-white {
    fill: white;
}
.text-none {
    display: none;
}
.menu-rigth--active {
    margin-left: 10px!important;
    width: 210px;
}

.menu-right-link {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}

.menu-right-link p{
    display: none;
}
.menu-rigth-none {
    display: none;
}
.menu-right-link--active {
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 6px 10px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
    margin-bottom: 0px;
}
.menu-right-link--active-two {
    border-radius: 8px;
    background: #2D2D2D;
}
.img-active {
    padding: 10px;
}
.menu-right-link--active img{
    padding: 0;
}
.menu-right-link--active p{
    display: inline;
}
.puz {
    display: flex;
    justify-content: center;
    padding:8px;
    height: 31px;
    width: 31px;
    border-radius: 8px;
    background: #FFF;
    
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}
.puzli {
    background-color: #FCFCFC!important;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.00);
}
.baza-price {
    padding: 3px;
    padding-right: 30px;
    position: relative;
    width: 80px;
}

.baza-price:hover {
    background-color: #F9F8FD;
    cursor: pointer;
    border-radius: 6px;
}
.baza-price:hover.baza-price::after {
    display: block;
}
.baza-price::after {
    display: none;
      content: '';
      position: absolute;
      left: 60px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-image: url(./img/edit\ 1.svg);
      background-repeat: no-repeat;
}
.baza-price-two {
    padding: 3px;
    padding-right: 30px;
    position: relative;
    width: 120px;
}
.baza-price-two:hover {
    background-color: #F9F8FD;
    cursor: pointer;
    border-radius: 6px;
}
.baza-price-two:hover.baza-price-two::after {
    display: block;
}
.baza-price-two::after {
    display: none;
      content: '';
      position: absolute;
      left: 100px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-image: url(./img/edit\ 1.svg);
      background-repeat: no-repeat;
}
.baza-h {
    padding: 3px;
    padding-right: 30px;
    position: relative;
    width: 150px;
}
.baza-h:hover {
    background-color: #F9F8FD;
    cursor: pointer;
    border-radius: 6px;
}
.baza-h:hover.baza-h::after {
    display: block;
}
.baza-span {
    padding: 3px;
    padding-right: 30px;
    padding-left: 9px;
    position: relative;
}
.baza-span:hover {
    background-color: #F9F8FD;
    cursor: pointer;
    border-radius: 6px;
}
.baza-span:hover.baza-span::after {
    display: block;
}
.baza-span::after {
    display: none;
      content: '';
      position: absolute;
      left: 250px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-image: url(./img/edit\ 1.svg);
      background-repeat: no-repeat;
}
.baza-h::after {
    display: none;
      content: '';
      position: absolute;
      left: 130px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-image: url(./img/edit\ 1.svg);
      background-repeat: no-repeat;
}
.one-hover {
    padding: 3px;
    padding-right: 30px;
    position: relative;
}
.galka {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
}
.edit-1 {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
}
.galka-2 {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
}
.edit-2 {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
}
.kira {
    padding: 3px;
    padding-right: 30px;
    position: relative;
    padding-left: 10px;
    max-width: 125px;
}

.kira:hover .edit-2 {
    display: block;
}
.kira:hover {
    background-color: #F9F8FD;
    cursor: pointer;
    border-radius: 6px;
}

.one-hover:hover {
    background-color: #F9F8FD;
    cursor: pointer;
    border-radius: 6px;
}
.one-hover:hover .edit-1 {
    display: block;
}

.br-menu {
    background: #EAEFF3;
    /* border: 1px solid red; */
    width: 31px;
    height: 1px;
    margin-bottom: -10px;
    margin-top: -10px;
}
.r {
    border-radius: 18px;
}
.elips-1 {
    width: 30px;
}

.header {
    display: flex;
    justify-content: end;
}
.header_all {
    display: flex;
    flex-direction: column;
    border-radius: 9px 9px 0 0;
    background: #FCFCFC;
    position: relative;
    
    
}
.header_all--active {
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}
.header-menu {
    cursor: pointer;
    display: flex;
    gap: 16px;
    padding-right: 15px;
    background-color: #FCFCFC;
    margin: 5px;

}
.header-menu:hover {
    background-color: #fff;
    border-radius: 9px;
}
.header-menu--active {
    background-color: #F4F7FC!important;
    z-index: 20;
    border-radius: 9px;
}
.header-menu--active .icons path {
    fill: #0077FF;
}
.header-menu-left {
    text-align: right;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px;
}
.header-menu-left h4 {
    color: #202125;

    text-align: right;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.header-menu-left span{
    text-align: right;
    color: #BBBDC3;
    text-align: right;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}
.header-menu-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.all-item-title {
    color: #202125;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
    padding-top: 10px;
}
.all-item-btn {
    border-radius: 8px;
    background: #F9F9FA;
    display: flex;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}
.all-item-btn:hover {
    background: #F2F4F9;
}
.table-one {
    border-collapse: collapse;
    width: 100%;
    
}
.table-thead-one {
}
.tr-one {
    border-bottom: 1px solid #DFE4EC;
    
}

.th-one {
    text-align: left;
    padding: 8px 16px;
    color: #BBBDC3;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

}
.tbody-one {
    
}
.tr-one-bot {
    border-bottom: 1px solid #DFE4EC;
    
}

.tr-one-bot-all {
    
    width: 100%;
}
.tr-one-bot--active {
    
    border: 2px dashed #DFE4EC;
    background: rgba(20, 198, 124, 0.01);
}
.td-one {
    height: 77px;
    padding: 8px 16px;
    color: #202125;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* width: 450px; */
}
.td-inps {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 348px;
}
.td-inps p{
   padding-left: 10px;
}
.td-inps-gas {
    width: 318px;
}

.span-price {
    color: #BBBDC3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer; 
}
.span-price-bgc {
    padding: 5px 10px;
    border-radius: 8px;
    background: #E5EBF1;
}
.price-flex {
    display: flex;
    justify-content: space-between;
}
.drop_menu {
    z-index: 10;
    position: absolute;
    top: 67px;
    /* background-color: #fff; */
    box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 9px 9px ;
    background-color: inherit;

}
.drop_menu-item {
    display: flex;
    gap: 11px;
    padding: 11px 20px;

}
.drop_menu-item a{
    color:  #252733;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}

.drop_menu-item:hover {
    opacity: .8;
}
.none {
    display: none;
}
#check {
    width: 18px;
    height: 18px;
}
.check-all {
    display: flex;
    align-items: center;
    z-index: 100;
}
.img-none {
    display: none;
    margin-right: -25px;
    margin-left: -3px;
}
.img-none--active {
    display: block;
}
.chekBox-none--active {
    display: none;
}
@media (max-width:1400px) {
    .td-inps {
        width: 311px;
    }
    .td-inps-gas {
        width: 272px;
    }
}
@media (max-width:1280px) {
    .span-all-hidden {
        color: #252733;
        padding: 4px 8px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 8px;
        background: #F2F4F9;
        margin-left: 0px;
    }
    .all-item-title {
        font-size: 16px;
    }
    .all-item-table-top {

        gap: 10px;
    }
    .all-item-table-bot-btn-one {
        font-size: 12px;
        padding: 5px 12px 5px 12px;
    }
    .conatiner-all {
        display: flex;
        gap: 40px;
        justify-content: end;
        padding-left: 299px;
    }
    .menu-rigth {
        margin-left: 70px;
    }
    .all-item-table-bot-btn-two {
        font-size: 12px;
        padding: 5px 12px 5px 16px;
    }
    .all-item-table-bot-btn-three {
        font-size: 12px;
        padding: 5px 12px 5px 16px;
    }
}
@media (max-width:1180px) {
    .all-item-comleks-all-hidden {
        align-items: center;

    }
    .all-item-title {
        font-size: 15px;
        max-width: 85px;
    }
    .all-item-table-top {
        gap: 7px;
    }
    .all-item-comleks-all-hidden {
        gap: 20px;
    }
    .all-item-table-bot-btn-one {
        font-size: 12px;
        padding: 5px 8px 5px 8px;
    }
    .conatiner-all {
        display: flex;
        gap: 40px;
        justify-content: end;
        padding-left: 270px;
    }
    .menu-rigth {
        margin-left: 50px;
    }
    .menu-rigth--active {
        margin-left: 0px!important;
        width: 200px;
    }
    .all-item-table-bot-btn-two {
        font-size: 12px;
        padding: 5px 8px 5px 16px;
    }
    .all-item-table-bot-btn-three {
        font-size: 12px;
        padding: 5px 8px 5px 16px;
    }
}
@media (max-width:1250px) {
    .td-inps {
        width: 311px;
    }
    .td-inps-gas {
        width: 225px;
    }
}
@media (max-width:1100px) {
    .td-inps {
        width: 300px;
    }
    .td-inps-gas {
        width: 180px;
    }
}
@media (max-width:1024px) {
    
}


